#about-container{
    position: relative;
    top: 15%;
    color: white;
    background-image: url('../img/dart.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: 710px 240px;
    background-blend-mode: difference;
    
}
#about-container.img:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
}
#about-text{
    position: relative;
    left: 40%;
}
#about-text2{
    position: relative;
    left: 40%;
    font-size: 20px;
}